
#calculator {
    width: fit-content;
    height: auto;
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;

    background:#173563;
    border-radius: 15px;
    float: right;
}

#loan_src {
    float: left;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    background:#729fcf;
    border-radius: 15px;
}

#loan_info {
    float: right;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    background:#729fcf;
    border-radius: 15px;
}

#table_header {
    clear: both;
    width: 648px;
    height: 45px;

    background: #5c3566;
    border-radius: 15px;

}

#table {
    overflow: auto;
    width: 648px;
    height: 365px;

    background:#729fcf;
    border-radius: 15px;
}

table { align-self:center; font-family: sans-serif; font-size: 17px; width: inherit; padding: 1%;}



#inv_calculator {
    width: fit-content;
    height: auto;
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;

    background:#173563;
    border-radius: 15px;
    float: left;
}

#inv_src {
    float: left;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    background:#729fcf;
    border-radius: 15px;
}

#inv_info {
    float: right;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    background:#729fcf;
    border-radius: 15px;
}

#inv_table_header {
    clear: both;
    width: 648px;
    height: 45px;

    background: #f57900;
    border-radius: 15px;

}

#inv_table {
    overflow: auto;
    width: 648px;
    height: 365px;

    background:#729fcf;
    border-radius: 15px;
}
