
#calculator {
    width: 650px;
    height: 670px;
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;

    border: 1px solid violet;
}

#loan_src {
    float: left;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    border: 1px solid blueviolet;
}

#loan_info {
    float: right;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    border: 1px solid palevioletred;
}

#table_header {
    clear: both;
    width: 648px;
    height: 75px;

    border: 1px solid blue;

}

#table {
    overflow: auto;
    width: 648px;
    height: 300px;

    border: 1px solid pink;
}

table { align-self:center; font-family: sans-serif; font-size: 13px; margin: 10px;}



#inv_calculator {
    width: 650px;
    height: 670px;
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;

    border: 1px solid violet;
}

#inv_src {
    float: left;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    border: 1px solid blueviolet;
}

#inv_info {
    float: right;
    width: 320px;
    height: 215px;
    margin-bottom: 10px;

    border: 1px solid palevioletred;
}

#inv_table_header {
    clear: both;
    width: 648px;
    height: 75px;

    border: 1px solid blue;

}

#inv_table {
    overflow: auto;
    width: 648px;
    height: 300px;

    border: 1px solid pink;
}
