
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}

h2 {
  font-family: "trajan";
  text-align: justify;
}

.main {
  height: 10%;
  background-position: top;
  background-size: contain;
}

.container {
  border: 5rem;
  width: 98%;
  position: fixed;
  display: inline-flex;
  margin: 0 1%;
  height: auto;
}

.main img {
  width: auto;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.size {
  color: #5c3566; 
  font-size: 2.4rem;
  padding: 0.5% 0;
  margin: 0;
}

nav {
  align-items: center;
  background-color: none;
  color: #729fcf;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo img {
  border-radius: 0.5rem;
  margin: 0%;
  width: 92px;
  height: 45px;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 3%;
  text-align: center;
  display: inline-block;
  padding-left: 5%;
}

@media only screen and (max-width: 960px){
  .main {
    padding-top: 0;
  }
  .container {

    margin: 0 1%;
    width: 98%;
    border-radius: 0;
  }
  li {
    padding-left: none; 
  }
  .size {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 470px) {
.container {
  border-radius: 0;
  margin: 0 1%;
  width: 98%;
}
footer nav {
  display: none;
}
.size {
  font-size: 0rem;
}
}

#buttons {
  height: 110%;
  width: auto;
}

a {
  display: block;
  width: max-content;
  padding: 0 .4rem;
  border-radius: 5px;
  background-color: none;
  text-align: start;
  font-family: Helvetica;
  font-size: 1.3rem;
  color: #729fcf;
  transition-property: background-color color;
  transition-duration: 550ms;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #204a87;
  background-color: #c4a000;
}

#logo:hover {
  background-color: #c4a000;

}